{% extends 'base.html' %}
{% block title %} | Development Partners{% endblock %}
{% block content %}
    {% load humanize %}
<div class="column m">
    <h3>Development Partners</h3>
    <table class="partners">

        <thead>
            <tr>
                <td>Partner</td>
                <td>Projects</td>
                <td>Average Investments, USD</td>
                <td>Total Investments, USD</td>
            </tr>
        </thead>

        <tbody>
           {% for partner in partners %}
           <tr>
                <td><a href="{% url partner_url partner.id %}">{{ partner.name }}</a></td>
                <td>{{ partner.project_set.count }}</td>
                {% with partner.investment as investments %}
                <td>
                    {% if investments.average >= 1000000 %}
                        {{ investments.average|intword }}
                    {% else %}
                        {{ investments.average|intcomma }}
                    {% endif %}
                </td>
                <td>
                    {% if investments.total >= 1000000 %}
                        {{ investments.total|intword }}
                    {% else %}
                        {{ investments.total|intcomma }}
                    {% endif %}
                </td>
                {% endwith %}
           </tr>
           {% empty %}
               <tr class="empty">There are no Development Projects Partners</tr>
           {% endfor %}
        </tbody>
    </table>
</div>

<div class="column">

</div>
{% endblock %}