{% extends 'base.html' %}
{% block title %} | Recipient Institutions{% endblock %}
{% block content %}
    {% load humanize %}
    <div class="column l">
        <h3>Recipient Organizations</h3>
        <table class="recipients">

            <thead>
                <tr>
                    <td>Name</td>
                    <td>Established</td>
                    <td>Projects</td>
                    <td>Avg. Funding $</td>
                    <td>Total Funding $</td>
                </tr>
            </thead>

            <tbody>
                {% for recipient in recipients %}
                <tr>
                    <td><a href="{% url recipient_url recipient.id %}">{{ recipient.name }}, {{ recipient.acronym }}</a></td>
                    <td>{{ recipient.year_founded }}</td>
                    <td>{{ recipient.project_set.count }}</td>
                    {% with recipient.investment as investments %}
                        <td>
                            {% if investments.average >= 1000000 %}
                                {{ investments.average|intword }}
                            {% else %}
                                {{ investments.average|intcomma }}
                            {% endif %}
                        </td>
                        <td>
                            {% if investments.total >= 1000000 %}
                                {{ investments.total|intword }}
                            {% else %}
                                {{ investments.total|intcomma }}
                            {% endif %}
                        </td>
                    {% endwith %}
                </tr>
                {% empty %}
                    <tr class="empty">There are no Development Project Recipient Institutions</tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <div class="column">

    </div>

{% endblock %}