{% extends 'base.html' %}
{% block title %} | Recipient Institutions{% endblock %}
{% block content %}
    {% load humanize %}
    <div class="column m">
        <h3>Recipient Organizations</h3>
        <table class="recipients">

            <thead>
                <tr>
                    <td>Name</td>
                    <td>Projects</td>
                    <td>Est. $</td>
                    <td>Founded</td>
                </tr>
            </thead>

            <tbody>
                {% for recipient in recipients %}
                <tr>
                    <td><a href="{% url recipient_url recipient.id %}">{{ recipient.name }}</a></td>
                    <td>{{ recipient.project_set.count }}</td>
                    <td>
                        {% with recipient.investment as investments %}
                            {% if investments >= 1000000 %}
                                {{ investments|intword }}
                            {% else %}
                                {{ investments|intcomma }}
                            {% endif %}
                        {% endwith %}
                    </td>
                    <td>{{ recipient.year_founded }}</td>
                </tr>
                {% empty %}
                    <tr class="empty">There are no Development Project Recipient Institutions</tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <div class="column">
        <h3>New Recipients</h3>
        <p>Add a new APDF Recipient Organization to the Recipients database. Click on the button below to get started.</p>
        <button class="forms">Add Recipient</button>
    </div>

{% endblock %}