<!-- Javascript at the bottom of the page's body for fast page loading -->
<script src="{{ static_url }}js/libs/jquery-1.7.1.min.js"></script>
<script src="{{ static_url }}js/libs/highcharts/highcharts.js"></script>
<script src="{{ static_url }}js/plugins.js"></script>
<script src="{{ static_url }}js/script.js?"></script>

<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
chromium.org/developers/how-tos/chrome-frame-getting-started -->
<!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
<![endif]-->